header {
  position: relative;
  cursor: pointer;
  max-width: 10%;
}

.count {
  display: grid;
  background-color: rgb(221, 116, 116);
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
  place-items: center;
  bottom: 0;
  left: 15px;
}
