.reciptUL{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    list-style: none;

}
.container{
    max-width: 60vw;
    margin: 0 auto ;
}

.header{
    margin-bottom: 10px;
}

h1{
    text-align: center;
    text-transform: uppercase;
}